openapi: "3.0.0"
info:
  title: Halo API
  description: API for Halo Financial Technologies, Inc. Application
  version: 1.0.0

servers:
  - url: https://halo.gift/v1
    description: Production Server
  - url: https://staging-halo.gift/v1
    description: Internal Staging Server for testing

paths: 
  # MARK: User Endpoint               
  /users:
    get:
      summary: Retrieves halo user information
      parameters: 
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      responses:
        200:
          description: Successfully returned user data
          content:
            application/json:
              schema:
                type: object
                properties:
                  first_name:
                    type: string
                  last_name:
                    type: string
                  phone_number:
                    type: string
                  email_address:
                    type: string
                  dob:
                    type: string
                  bio:
                    type: string
                  profile_image_url:
                    type: string
                  address:
                    type: object
                    properties:
                      address_line_1:
                        type: string
                      address_line_2:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      zipcode:
                        type: string
                      country:
                        type: string
                  wishlist:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name: 
                          type: string
                        primary_image_url:
                          type: string
                        additional_image_urls:
                          type: array
                          items:
                            type: string
                        pricing:
                          type: number
                          format: double
                        description:
                          type: string
                        specifications:
                          type: string
                        reviews:
                          type: array
                          items:
                            type: string
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User has not been created yet
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server
    
    post:
      summary: Creates user after onboarding experience
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                phone_number:
                  type: string
                email_address:
                  type: string
                dob:
                  type: string
                bio:
                  type: string
      responses:
        201:
          description: User Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    description: Halo Generated User Id
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

    put:
      summary: Update user information
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                phone_number:
                  type: string
                email_address:
                  type: string
                dob:
                  type: string
                bio:
                  type: string
      responses:
        200:
          description: Halo User Updated
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

    # Ignore for Alpha
    delete:
      summary: Deletes Halo User
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      responses:
        200:
          description: Halo User deleted
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

  # MARK: JWT Endpoint
  /vouchr:
    get:
      summary: Retrieves JWT Token for Vouchr
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      responses:
        200:
          description: Successfully returned JWT token
          content:
            application/json:
              schema:
                type: object
                properties:
                  jwt:
                    type: string
        401:
          description: Unauthorized. Halo User Id is not valid
        404:
          description: Not Found. Halo User Id has not been found
        500:
          description: Server Error. There was a problem retrieving the jwt token from the Halo Server

  # MARK: Stripe Endpoint
  /stripe:
    get:
      summary: Retrieves Stripe keys
      parameters:
        - name: key_type
          in: query
          description: Stripe Key Type
          schema:
            type: string
            enum: [PUBLISHABLE_KEY, EPHEMERAL_KEY]
      responses:
        200:
          description: Successfully returned Stripe keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  publishable_key:
                    type: string
                  ephemeral_key:
                    type: string
        500:
          description: Server Error. There was a problem retrieving the Stripe keys from the Halo Server  

  # MARK: Card Endpoint
  /card:
    get:
      summary: Retrieves Halo Card Information
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
        - name: transaction_count
          in: query
          required: false
          description: Number of Transactions to retrieve (defaults to Gailieo default)
          schema:
            type: number
            format: int64
      responses:
        200:
          description: Successfully returned Halo Card information
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: number
                  balance:
                    type: number
                    format: double
                  card_number:
                    type: string
                  exp_date:
                    type: string
                  cvv:
                    type: string
                  galileo_account_id:
                    type: number
                  galileo_cardholder_id:
                    type: number
                  galileo_transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        transaction_id:
                          type: string
                        name:
                          type: string
                        amount:
                          type: number
                          format: double
                        description:
                          type: string
                        transaction_subtype:
                          type: string
                          enum: [account_to_account, ach, account_funding]
                        transaction_type:
                          type: string
                          enum: [card_activity, transfer, payment, adjustment, fee]
                        status:
                          type: string
                          enum: [settled, pending]
                        timestamp:
                          type: string
        401:
          description: Unauthorized. Halo User Id is not valid
        404:
          description: Not Found. Halo User Id has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server  

  # MARK: Contacts Endpoint
  /contacts:
    get:
      summary: Retrieves halo user contacts info
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      responses:
        200:
          description: Successfully returned user contacts information
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: string
                    first_name:
                      type: string
                    last_name:
                      type: string
                    phone_number:
                      type: string
                    email_address:
                      type: string
                    profile_image_url:
                      type: string
                    # Ignore for Alpha
                    # favorite:
                    #   type: boolean
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server  
    
    # Ignore for Alpha
    post:
      summary: Add user(s) to contacts
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  first_name:
                    type: string
                  last_name:
                    type: string
                  phone_number:
                    type: string
                  favorite:
                    type: boolean
      responses:
        201:
          description: User Contact(s) added
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

    # Ignore for Alpha
    put:
      summary: Update user favorite
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  contact_id:
                    type: string
                    description: Halo User Id to be modified in user contacts
                  favorite:
                    type: boolean
      responses:
        200:
          description: User Contacts List Updated
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        409:
          description: Conflict. Contact User id does not exist
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

    # Ignore for Alpha
    delete:
      summary: Delete user contact
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_id:
                  type: string
      responses:
        200:
          description: User contact removed from Halo User Profile
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        409:
          description: Conflict. Contact Id not found under User id profile
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server
  
  # MARK: Gifts Endpoint
  /gifts:
    get:
      summary: Retrieves halo user gifts
      parameters:
        - name: user_id
          in: query
          description: Halo User Id
          schema:
            type: string
        - name: start_range
          in: query
          description: Start Date Range For Gifts
          schema:
            type: string
        - name: end_range
          in: query
          description: End Date Range For Gifts
          schema:
            type: string
        - name: count
          in: query
          description: Number of gifts to return
          schema:
            type: integer
            format: int64
        - name: send_type
          in: query
          description: Gift Send Type (i.e. Sent, Received)
          schema:
            type: string
            enum: [SENT, RECEIVED]
      responses:
        200:
          description: Successfully returned user transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifts:
                    type: array
                    items:
                      type: object
                      properties:
                        marketplace:
                          type: object
                          properties:
                            marketplace_id:
                              type: number
                            name:
                              type: string
                            price:
                              type: number
                              format: double
                            primary_image_url:
                              type: string
                            additional_image_urls:
                              type: array
                              items:
                                type: string
                        amount:
                          type: number
                          format: double
                        status:
                          type: string
                          enum: [ACTIVE, PENDING, CREDIT]
                        timestamp:
                          type: string
                        sender:
                          type: object
                          description: Halo user that sent gift
                          properties:
                            user_id:
                              type: number
                            first_name:
                              type: string
                            last_name:
                              type: string
                            profile_image_url:
                              type: string
                        receiver:
                          type: object
                          description: Halo user that received gift
                          properties:
                            user_id:
                              type: number
                            first_name:
                              type: string
                            last_name:
                              type: string
                            profile_image_url:
                              type: string
        400:
          description: Bad User Request. Query Parameters are invalid
        404:
          description: Not Found. User id has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server
  
    post:
      summary: Create new gift
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipient_id: 
                  type: string
                  description: Halo User Id receiving gift
                amount:
                  type: number
                  format: double
                payment_method:
                  type: string
                  enum: [HALO, STRIPE]
                stripe_payment_method_id:
                  type: string
                  description: Stripe Payment Method ID. For STRIPE payment_method, either this or stripe_payment_intent_id must be present.
                stripe_payment_intent_id:
                  type: string
                  description: Stripe Payment Intent ID. For STRIPE payment_method, either this or stripe_payment_method_id must be present.
                marketplace_id:
                  type: string
                  description: Id for Marketplace Item Recommended
                message_url:
                  type: string
                  description: Message URL for Vouchr
      responses:
        200:
          description: OK but additional Stripe action required before gift is successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  requires_action:
                    type: boolean
                  client_secret:
                    type: string
        201:
          description: Gift transaction posted
          content:
            application/json:
              schema:
                type: object
                description: Empty (HALO) or Stripe object (STRIPE) based on payment_method
        400:
          description: Bad User Request. RequestBody is invalid
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        500:
          description: Server Error. There was a problem posting the gift on the Halo Server
  
  # MARK: Marketplace Endpoint
  /marketplace:
    get:
      summary: Retrieves Marketplace Products for Halo Users
      parameters:
        - name: product_tag
          in: query
          description: Halo Marketplace Product Tag
          schema:
            type: string
            enum: [PRODUCT, EXPERIENCE, BRAND]
        - name: min_range
          in: query
          description: Minimum price range
          schema:
            type: string
        - name: max_range
          in: query
          description: Maximum price range
          schema:
            type: string
        - name: count
          in: query
          description: Number of products to return
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successfully returned Halo marketplace product listing
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    marketplace_id:
                      type: number
                    name:
                      type: string
                    price:
                      type: number
                      format: double
                    primary_image_url:
                      type: string
        400:
          description: Bad Request. Query Parameters are invalid
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

  # MARK: Marketplace Item Endpoint
  /marketplaceItem:
    get:
      summary: Retrieves Halo Marketplace Item Information
      parameters:
        - name: marketplace_id
          in: path
          required: true
          description: Halo Marketplace Item Id
          schema:
            type: string
        - name: user_id
          in: query
          description: Halo User Id
          schema:
            type: number
      responses:
        200:
          description: Successfully returned Halo Marketplace Item information
          content:
            application/json:
              schema:
                type: object
                properties:
                  marketplace_id:
                    type: number
                  name:
                    type: string
                  description:
                    type: string
                  merchant:
                    type: string
                  type:
                    type: string
                    enum: [PRODUCT, EXPERIENCE, BRAND]
                  price:
                    type: number
                    format: double
                  primary_image_url:
                    type: string
                  additional_image_urls:
                    type: array
                    items:
                      type: string
                  affiliate_link:
                    type: string
                  wishlist: # only if user_id provided
                    type: boolean
                  # specifications:
                  #   type: string
                  # reviews:
                  #   type: array
                  #   items:
                  #     type: string
        400:
          description: Bad Request. Request Parameters are invalid
        404:
          description: Not Found. Marketplace Item has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server
    
  # Wishlist Endpoint
  /wishlist:
    post:
      summary: Save Wishlist Item
      parameters: 
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
        - name: marketplace_id
          in: query
          required: true
          description: Halo Marketplace Item Id
          schema:
            type: string
      responses:
        201:
          description: Wishlist Item Added
        400:
          description: Bad Request. Query Parameters are invalid
        404:
          description: Not Found. User/Marketplace Item not found
        500:
          description: Server Error. There was a problem updating the user data from the Halo Server

    delete:
      summary: Remove Wishlist Item
      parameters: 
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
        - name: marketplace_id
          in: query
          required: true
          description: Halo Marketplace Item Id
          schema:
            type: string
      responses:
        200:
          description: Wishlist Item Removed
        400:
          description: Bad Request. Query Parameters are invalid
        404:
          description: Not Found. User/Marketplace Item not found
        500:
          description: Server Error. There was a problem updaing the user data from the Halo Server
