openapi: "3.0.0"
info:
  title: Halo API
  description: API for Halo Financial Technologies, Inc. Application
  version: 1.0.0

servers:
  - url: https://halo.gift/v1
    description: Production Server
  - url: https://staging-halo.gift/v1
    description: Internal Staging Server for testing

paths: 
  # MARK: User Endpoint               
  /users:
    get:
      summary: Retrieves halo user information
      parameters: 
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      responses:
        200:
          description: Successfully returned user data
          content:
            application/json:
              schema:
                type: object
                properties:
                  first_name:
                    type: string
                  last_name:
                    type: string
                  phone_number:
                    type: string
                  email_address:
                    type: string
                  dob:
                    type: string
                  wishlist:
                    type: array
                    items:
                      type: object
                      properties:
                        image_url:
                          type: string
                        deeplink:
                          type: string
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        price:
                          type: number
                          format: double
                        image_url: 
                          type: string
                        deeplink:
                          type: string
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User has not been created yet
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server
    
    post:
      summary: Creates user after onboarding experience
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                phone_number:
                  type: string
                email_address:
                  type: string
                dob:
                  type: string
      responses:
        201:
          description: User Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    description: Halo Generated User Id
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

    put:
      summary: Update user information
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                phone_number:
                  type: string
                email_address:
                  type: string
                dob:
                  type: string
      responses:
        200:
          description: Halo User Updated
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

    # Ignore for Alpha
    delete:
      summary: Deletes Halo User
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      responses:
        200:
          description: Halo User deleted
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

  # MARK: Card Endpoint
  /card:
    get:
      summary: Retrieves Halo Card Information
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      responses:
        200:
          description: Successfully returned Halo Card information
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  card_number:
                    type: string
                  exp_date:
                    type: string
                  ccv:
                    type: string
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        amount:
                          type: number
                          format: double
                        status:
                          type: string
                          enum: [ACTIVE, PENDING, CREDIT]
                        timestamp:
                          type: string
                        
        401:
          description: Unauthorized. Halo User Id is not valid
        404:
          description: Not Found. Halo User Id has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server  

  # MARK: Contacts Endpoint
  /contacts:
    get:
      summary: Retrieves halo user contacts info
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      responses:
        200:
          description: Successfully returned user contacts information
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: string
                    first_name:
                      type: string
                    last_name:
                      type: string
                    phone_number:
                      type: string
                    profile_image_url:
                      type: string
                    favorite:
                      type: boolean
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server  
    
    # Ignore for Alpha
    post:
      summary: Add user(s) to contacts
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  first_name:
                    type: string
                  last_name:
                    type: string
                  phone_number:
                    type: string
                  favorite:
                    type: boolean
      responses:
        201:
          description: User Contact(s) added
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

    # Ignore for Alpha
    put:
      summary: Update user favorite
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  contact_id:
                    type: string
                    description: Halo User Id to be modified in user contacts
                  favorite:
                    type: boolean
      responses:
        200:
          description: User Contacts List Updated
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        409:
          description: Conflict. Contact User id does not exist
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

    # Ignore for Alpha
    delete:
      summary: Delete user contact
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_id:
                  type: string
      responses:
        200:
          description: User contact removed from Halo User Profile
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        409:
          description: Conflict. Contact Id not found under User id profile
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server
  
  # MARK: Gifts Endpoint
  /gifts:
    get:
      summary: Retrieves halo user gifts
      parameters:
        - name: user_id
          in: query
          description: Halo User Id
          schema:
            type: string
        - name: start_range
          in: query
          description: Start Date Range For Gifts
          schema:
            type: string
        - name: end_range
          in: query
          description: End Date Range For Gifts
          schema:
            type: string
        - name: count
          in: query
          description: Number of gifts to return
          schema:
            type: integer
            format: int64
        - name: sendType
          in: query
          description: Gift Send Type (i.e. Sent, Received)
          schema:
            type: string
            enum: [SENT, RECEIVED]
      responses:
        200:
          description: Successfully returned user transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        image_url:
                          type: string
                        amount:
                          type: number
                          format: double
                        status:
                          type: string
                          enum: [ACTIVE, PENDING, CREDIT]
                        timestamp:
                          type: string
                        sender:
                          type: object
                          description: Halo user that sent gift
                          properties:
                            id:
                              type: string
                            first_name:
                              type: string
                            last_name:
                              type: string
                            profile_image_url:
                              type: string
                        receiver:
                          type: object
                          description: Halo user that received gift
                          properties:
                            id:
                              type: string
                            first_name:
                              type: string
                            last_name:
                              type: string
                            profile_image_url:
                              type: string
        400:
          description: Bad User Request. Query Parameters are invalid
        404:
          description: Not Found. User id has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server
  
    post:
      summary: Create new gift
      parameters:
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipient_id: 
                  type: string
                  description: Halo User Id receiving gift
                amount:
                  type: number
                  format: double
                payment_method:
                  type: string
                  enum: [HALO, STRIPE]
                card_number:
                  type: string
                  description: Card Number (HALO) or Token (STRIPE) for Gift Transaction
                marketplace_id:
                  type: string
                  description: Id for Marketplace Item Recommended
                message_url:
                  type: string
                  description: Message URL for Vouchr
      responses:
        201:
          description: Gift transaction posted
        400:
          description: Bad User Request. RequestBody is invalid
        401:
          description: Unauthorized. The user id specified is not valid
        404:
          description: Not Found. User id has not been found
        500:
          description: Server Error. There was a problem posting the gift on the Halo Server
  
  # MARK: Marketplace Endpoint
  /marketplace:
    get:
      summary: Retrieves Marketplace Products for Halo Users
      parameters:
        - name: product_tag
          in: query
          description: Halo Marketplace Product Tag
          schema:
            type: string
            enum: [PRODUCT, EXPERIENCE, BRAND]
        - name: min_range
          in: query
          description: Minimum price range
          schema:
            type: string
        - name: max_range
          in: query
          description: Maximum price range
          schema:
            type: string
        - name: count
          in: query
          description: Number of products to return
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Successfully returned Halo marketplace product listing
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    image_url:
                      type: string
                    pricing:
                      type: number
                      format: double
        400:
          description: Bad Request. Query Parameters are invalid
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server

  # MARK: Marketplace Item Endpoint
  /marketplaceItem:
    get:
      summary: Retrieves Halo Marketplace Item Information
      parameters:
        - name: id
          in: path
          required: true
          description: Halo Marketplace Item Id
          schema:
            type: string
      responses:
        200:
          description: Successfully returned Halo Marketplace Item information
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  image_urls:
                    type: array
                    items:
                      type: string
                  pricing:
                    type: number
                    format: double
                  description:
                    type: string
                  specifications:
                    type: string
                  reviews:
                    type: array
                    items:
                      type: string
        400:
          description: Bad Request. Request Parameters are invalid
        404:
          description: Not Found. Marketplace Item has not been found
        500:
          description: Server Error. There was a problem retrieving the user data from the Halo Server
    
  # Wishlist Endpoint
  /wishlist:
    post:
      summary: Save Wishlist Item
      parameters: 
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
        - name: marketplace_id
          in: query
          required: true
          description: Halo Marketplace Item Id
          schema:
            type: string
      responses:
        201:
          description: Wishlist Item Added
        400:
          description: Bad Request. Query Parameters are invalid
        404:
          description: Not Found. User/Marketplace Item not found
        500:
          description: Server Error. There was a problem updating the user data from the Halo Server

    delete:
      summary: Remove Wishlist Item
      parameters: 
        - name: user_id
          in: path
          required: true
          description: Halo User Id
          schema:
            type: string
        - name: marketplace_id
          in: query
          required: true
          description: Halo Marketplace Item Id
          schema:
            type: string
      responses:
        200:
          description: Wishlist Item Removed
        400:
          description: Bad Request. Query Parameters are invalid
        404:
          description: Not Found. User/Marketplace Item not found
        500:
          description: Server Error. There was a problem updaing the user data from the Halo Server
          

  
          
                    
                
                    
                  

          


        

      

                    
                    

                
                  
        
